@import "hero-section.css";
@import "gallery-section.css";
@import "banner-section.css";

/**
* Paragraphs
*/
.paragraph {
  margin-bottom: 3em;
}

.field-item {
  display: inline-block;
}

.p-container {
  clear: both;
  display: block;
  margin-bottom: 2em;
}
