/**
* Paragraphs
*/
.paragraph {
  margin-bottom: 3em;
}

.field-item {
  display: inline-block;
}

.p-container {
  clear: both;
  display: block;
  margin-bottom: 2em;
}

.p-container h2 {
  margin-left: .6em;
}

.column {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0 .2em;
}

.paragraph--type--hero-section .p-container .hero-image {
  width: 100%;
  padding: 0;
  margin: 0;
}

.paragraph--type--hero-section .p-container .hero-image img {
  display: block;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}

.view-test .view-content {
  display: block;
  clear: both;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

@media (max-width: 1200px) {
  .view-test .view-content {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .view-test .view-content {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .view-test .view-content {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .view-test .view-content {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.view-test .view-content img {
  background-clip: padding-box;
  padding: 15px;
  width: 100%;
}

.paragraph--type--gallery-section {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 500px;
  overflow: hidden;
}

.paragraph--type--gallery-section .gallery-heading {
  margin-left: 15px;
}

.field--item:nth-child(3) .gallery-heading {
  text-align: right;
}
