{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}
{% if multiple %}
  {% for item in items %}
    <div class="grid-item">
      <a href="{{ attribute(photographie_theme_image_expanded, item.content['#item'].entity.fid.value) }}">
        <img src="{{ attribute(photographie_theme_image_unexpanded, item.content['#item'].entity.fid.value) }}" />
      </a>
    </div>
  {% endfor %}
{% else %}
  <div class="grid-item">
    <a href="{{ attribute(photographie_theme_image_expanded, item.content['#item'].entity.fid.value) }}">
      <img src="{{ attribute(photographie_theme_image_unexpanded, item.content['#item'].entity.fid.value) }}" />
    </a>
  </div>
{% endif %}
