/**
* Navbar section
*/
.hover-for-menu {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 80px;
  opacity: 0;
}

.navbar-default .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: ;
}

.navbar-default .navbar-brand:hover {
  text-decoration: underline;
  color: ;
}

.navbar-default .navbar-nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-default .navbar-nav li a:hover {
  color: ;
  text-decoration: underline;
}

.navbar-nav  li.expanded.dropdown > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown > a:hover {
  color: ;
  text-decoration: underline;
}

.navbar-nav li.expanded.dropdown.open a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown.open ul a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: ;
  text-decoration: none;
}

.navbar-nav li.expanded.dropdown.open ul a:hover {
  color: ;
  text-decoration: underline;
  background-color: transparent;
}


/**
* Subnav section
*/
.paragraph--type--sub-navigation-section {

}

.sub-navigation-section--wrapper {
  display: flex;
}

.sub-navigation {
    width: 100%;
}

.field--name-field-sub-navigation-item {
  display: flex;
  justify-content: space-around;
}
