.mega-menu {
  width: 100%;
  padding: 1em;
}

.home {
  display: inline;
  margin-right: 1em;
  padding-right: 1em;
  vertical-align: middle;
  border-right: 2px solid grey;
}

.home .fa-camera {
  font-size: 1em;
}

.home .fa-home {
  font-size: 1.15em;
}

.home a {
  color: #000;
}

.top-main-menu {
  width: 100%;
  list-style: none;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  border-bottom: 2px solid grey;
}

.top-main-menu li {
  display: inline-block;
  vertical-align: middle;
}

.top-main-menu li a {
  color: #000;
  font-size: 2em;
}

.top-main-menu .user-link {
  float: right;
  margin-left: 2em;
  vertical-align: middle;
}

.top-main-menu .user-link a:hover i {
  text-decoration: underline;
}

.categories {
  display: inline-block;
}

.categories li:last-child {
  border-right: 2px solid grey;
  margin-right: 1em;
}

.category {
  display: inline-block;
  vertical-align: middle;
}

.category a {
  font-size: 2em;
  margin-right: .6em;
  text-shadow: 0 0 10px #fff;
}

.my-photos {
  display: none;
}

.my-photos a {
  display: block;
  text-align: center;
  font-size: 2em;
  color: #000;
  margin-top: .5em;
}

.navbar-header {
  display: none;
}

.navbar-default {
  background-color: #fff;
}
