.mega-menu {
  width: 100%;
  padding: 1em;
}

.home {
  display: inline;
  margin-right: 2em;
  vertical-align: middle;
}

.home a {
  color: #000;
}

.top-main-menu {
  width: 100%;
  list-style: none;
  text-align: left;
  vertical-align: middle;
  margin: 0;
}

.top-main-menu li {
  display: inline-block;
}

.top-main-menu li:last-child {
  margin-right: 0;
}

.top-main-menu li a {
  color: #000;
}

.top-main-menu .user-link {
  float: right;
  margin-left: 2em;
  vertical-align: middle;
  margin-top: 5px;
}

.top-main-menu .user-link a:hover i {
  text-decoration: underline;
}

.category {
  display: inline-block;
  vertical-align: middle;
}

.category a {
  font-size: 2em;
  margin-right: .6em;
  text-shadow: 0 0 10px #fff;
}

.my-photos {
  float: right;
  vertical-align: middle;
  margin-right: 5em;
}

.my-photos a {
  font-size: 2em;
}

.navbar-header {
  display: none;
}

.navbar-default {
  background-color: #fff;
}
