@import "navbar.css";
@import "paragraphs/paragraphs.css";

/**
* Body
*/
html, body {
  height: 100%;
}

body {
  background-color: #e7e7e7;
  color: #000;
}

.main-container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.region-content {
  min-height: 100%;
  margin-bottom: 5%;
}

.region-content:after {
  content: "";
  display: block;
}


ol, ul {
  padding: 0;
}

.breadcrumb {
  display: none;
}

img {
  box-shadow: 5px 5px 5px black;
}

/**
* Image collection
*/

.private-photo-collection .content {
  width: 95%;
  margin: 0 auto;
}

.raw-images img {
  width: 100%;
}

.grid-item {
  margin-bottom: 15px;
  max-width: 18%;
}

.grid-item img {
  width: 100%;
}

.raw-images img.selected {
  outline: 10px solid lightblue;
  outline-offset: -10px;
}

#fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100px;
  padding: 0 5em;
  text-align: center;
  display: none;
  background-color: #fff;
}

.selected-wrapper {
  margin-top: 1em
}

.selected-wrapper h2 {
  display: block;
}

.selected-wrapper h2 span {
  display: inline;
}

.selected-wrapper a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  padding: 1em;
}

.image-select-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.image-select-wrapper input {
  position: absolute;
  opacity: 0;
}

.image-wrapper .expand-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  padding: 10px;
  cursor: zoom-in;
  transition: opacity 600ms ease-in;
  opacity: 0;
  color: white;
  text-shadow: 0px 0px 8px black;
}

#popup-form {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;
  padding: 15px;
  background-color: #5E5F6C;
}

.popup-selected {
  width: 470px;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
}

.popup-selected img {
  width: 45%;
  margin: 2.5%;
  border: 2px solid whitesmoke;
  vertical-align: top;
}

.popup-fields {
  width: 100%;
  padding: 15px;
}

.popup-fields textarea {
  display: block;
  clear: both;
  width: 100%;
  margin-bottom: 1em;
}

.view-category-view .view-content .views-row {
  display: block;
  clear: both;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

@media (max-width: 1200px) {
  .view-category-view .view-content .views-row {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .view-category-view .view-content .views-row {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .view-category-view .view-content .views-row {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .view-category-view .view-content .views-row {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.view-category-view .view-content .views-row img {
  width: 100%;
  height: auto;
  background-clip: padding-box;
  padding: 15px;
}

.footer {
  width: 100%;
}


.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
