{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<section{{ attributes.addClass(classes).setAttribute('id', id) }}>
	<div class="p-container">
		<div class="hero-image" style="background-image: url({{ file_url(content.field_hero_image.0['#item'].entity.getfileuri()) }})">
		</div>
	</div>
</section>
