{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'banner-section'
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="banner-wrapper">
    <h2 class="banner-header">{{ content.field_section_title }}</h2>
    <div class="banner-body">
      {{ content.field_banner_body}}
    </div>
  </div>
</div>
