{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'gallery-section'
]
%}

{{ attach_library('photographie_theme/masonry') }}

<div{{ attributes.addClass(classes) }}>
  <h2 class="gallery-heading">{{ content.field_section_title }}</h2>
  <div class="grid">
    {{ content.field_gallery_images }}
  </div>
</div>
